.voice-control{
    display: flex;
    background-color: #181818;
    background-image: url(./../../images/voiceControlBG.svg);
    background-repeat: repeat;
    background-size: cover;
    color: #fff;
    padding: 0 0 50px 100px;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 767px){
    .voice-control{
        flex-direction: column;
        padding: 17px;
        width: 100%;
        background-image: unset;
    }
}
